workflows/fastapi ai backend.json
{
  "name": "fastapi backend",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=ai-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        0
      ],
      "id": "60c07400-6e63-4dd0-813d-8ff7097cb8d3",
      "name": "Webhook",
      "webhookId": "20d878c8-2e81-4e29-b4b5-06f0fc876952"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/chat",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{$json.body.message}}"
            },
            {
              "name": "user",
              "value": "={{$json.body.user}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        0
      ],
      "id": "228c86e8-32ff-4c24-b739-b21c462223de",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        176,
        0
      ],
      "id": "783d2503-d537-4e52-a358-e8f512e5086d",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "84072cb6-1b0e-42f4-8eb6-fae2b604b97f",
  "meta": {
    "instanceId": "7da4c1105e0e2e31444e6a97b5180b38cd50a942953a69dd292dc61b1de09cbe"
  },
  "nodeGroups": [],
  "id": "Zcomd1gCa9ZoZ6Ze",
  "tags": []
}